@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,500;0,700;0'); 

body {
    background-color:#212121;
    font-family: 'Source Code Pro', monospace;
    }

.masthead {

    background-size: cover; 
    min-height: 600px; 
    background-repeat: no-repeat; 
    position: relative; 
}

@media (max-width: 768px) {
    .masthead {
        min-height: 300px; 
    }
}
#headline1 {
    color: white;
    background-color: #0023F5; 
    font-size: 1.2rem;
    margin: 0px;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 40px;
}
p {
    font-family: 'Source Code Pro', monospace;
    font-weight: medium !important; 
    color: white;
    background-color: #0023F5; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 40px;
}

.navbar-brand {
    padding-left: 20px; 

}
.bg-dark{
    background-color: rgba(45, 45, 47, 0.8) !important; 
}


span { 
    background-color: #2d2d2f;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: 'Source Code Pro', monospace;
    color: white !important; 
    
   
}
img.img-fluid {
    padding-top: 10px;
    margin-bottom: 17px; 

}

#end{
    font-family: 'Source Code Pro', monospace;
    font-weight: medium !important; 
    background-color:#212121 !important; 
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav-link {
    font-family: 'Source Code Pro', monospace;
    background-color: #2d2d2f !important;
    margin: 10px; 

}



